<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362592739383-qct2n05kdn0p37hr76joki88orf7kr6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362592739383-qct2n05kdn0p37hr76joki88orf7kr6j</string>
	<key>API_KEY</key>
	<string>AIzaSyCqwIZCsZGYaqB8bfrYaZrZOOoJ2tlySps</string>
	<key>GCM_SENDER_ID</key>
	<string>362592739383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaayoo.LTW</string>
	<key>PROJECT_ID</key>
	<string>learnteachworldios</string>
	<key>STORAGE_BUCKET</key>
	<string>learnteachworldios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362592739383:ios:f80e9fc5e4d41554209fb2</string>
	<key>DATABASE_URL</key>
	<string>https://learnteachworldios.firebaseio.com</string>
</dict>
</plist>